{% extends 'base.html.twig' %}

{% block body %}

	<section id="home" class="mb-5">
		<div class="d-block align-middle">
			<div class="container">
				<div class="row">
					<div class="offset-4 col-4 my-5">
						<ul class="mb-0 pl-0 align-middle d-block my-auto">
							<li class="btn bg-secondary rounded mx-auto my-3 text-center list-group-item"><a href="{{ path('new_gang') }}" class="text-white">Recruit a gang</a></li>
							<li class="btn bg-secondary rounded mx-auto my-3 text-center list-group-item"><a href="{{ path('gangs') }}" class="text-white">Manage my gang</a></li>
							<li class="btn bg-secondary rounded mx-auto my-3 text-center list-group-item"><a href="#" class="text-white">Start a battle</a></li>
							<li class="btn bg-secondary rounded mx-auto my-3 text-center list-group-item"><a href="{{ path('houses') }}" class="text-white">Houses</a></li>
							<li class="btn bg-secondary rounded mx-auto my-3 text-center list-group-item"><a href="{{ path('resources') }}" class="text-white">Resources</a></li>
							<li class="btn bg-secondary rounded mx-auto my-3 text-center list-group-item"><a href="{{ path('admin') }}" class="text-white">Settings</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
