{% extends 'base.html.twig' %}

{% block title %}Edit territories{% endblock %}

{% block body %}

	<section id="edit_territory" class="mb-5">
		<div class="col-10 m-auto text-white">

				{{ form_start(form) }}

					<div class="row">
						<div class="col-2">
							{{ form_row(form.name) }}
							{{ form_row(form.income) }}
						</div>
						<div class="col-2">
							{{ form_row(form.D6tens) }}
							{{ form_row(form.D6units) }}
						</div>
						<div class="col-8">{{ form_row(form.description) }}</div>
					</div>

				{{ form_end(form) }}

				<button class="btn btn-primary">Save changes</button>
				<a href="{{ path('admin') }}" class="btn btn-secondary my-2">Back</a>

		</div>
	</section>

{% endblock %}