{% extends 'base.html.twig' %}

{% block title %}New weapon{% endblock %}

{% block body %}

	<section id="new_territory" class="mb-5">
		<div class="col-3 m-auto text-white">

			{{ form_start(form) }}

				<div>{{ form_row(form.name) }}</div>
				<div>{{ form_row(form.cost) }}</div>
				<div>{{ form_row(form.category) }}</div>

				<button class="btn btn-primary offset-4">Add weapon</button>
				<a href="{{ path('admin') }}" class="btn btn-secondary my-2">Back</a>

			{{ form_end(form) }}

		</div>
	</section>

{% endblock %}