{{ form_start(form) }}

	<div class="d-flex justify-content-between">
		{{ form_row(form.mind66) }}
		{{ form_row(form.maxd66) }}
	</div>

	{{ form_row(form.description) }}

	<button class="btn btn-primary btn-save">Save changes</button>

{{ form_end(form) }}