{% extends 'base.html.twig' %}

{% block title %}Edit skill{% endblock %}

{% block body %}

	<section id="edit_injury" class="mb-5">
		<div class="col-10 m-auto text-white">

			<div class="text-right">
				<a href="{{ path('settings') }}" class="btn btn-secondary my-2">Back</a>
			</div>

			{{ form_start(form) }}
				<div class="row">
					<div class="col-2">{{ form_row(form.name) }}</div>
					<div class="col-8">{{ form_row(form.description) }}</div>
					<div class="col-8">{{ form_row(form.category) }}</div>
				</div>

				<div class="text-center">
					<button class="btn btn-primary">Save changes</button>
				</div>
			{{ form_end(form) }}

		</div>
	</section>

{% endblock %}