{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}

	<section id="settings" class="mb-5">
		<div class="text-center text-white col-10 mx-auto">

			<div class="text-right">
				<a href="{{ path('home') }}" class="btn btn-secondary my-2">Back</a>
			</div>

			<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link text-white" href="#territories">Territories</a></li>
						<li class="nav-item"><a class="nav-link text-white" href="#injuries">Injuries</a></li>
						<li class="nav-item"><a class="nav-link text-white" href="#weapons">Weapons</a></li>
						<li class="nav-item"><a class="nav-link text-white" href="#skills">Skills</a></li>
					</ul>
				</div>
			</nav>

			 <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}

			<h2 id="territories" class="my-3">List of territories</h2>

			<table class="table table-bordered bg-white">
				<thead class="bg-secondary text-white">
					<tr>
						<td class="col-1">Name</td>
						<td class="col-1">D66 roll</td>
						<td class="col-1">Income</td>
						<td class="col-9">Description</td>
						<td class="col-1">Actions</td>
					</tr>
				</thead>

				<tbody>
					{% for territory in territories %}
						<tr>
							<td>{{ territory.name }}</td>
							{% if territory.mind66 == territory.maxd66 %}
								<td>{{ territory.mind66 }}</td>
							{% else %}
								<td>{{ territory.mind66 ~ ' - ' ~ territory.maxd66 }}</td>
							{% endif %}
							<td>{{ territory.income }}</td>
							<td class="text-left">{{ territory.description }}</td>
							<td>
								<a href="{{ path('edit_territory', {territory_id : territory.id}) }}" class="btn btn-secondary mb-3">Edit</a>
								<form method="post" action='{{ path('delete_territory', {territory_id : territory.id}) }}' onsubmit="return confirm('Do you really want to delete this territory?')">
									<input type="hidden" name="_method" value="DELETE">
									<button class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('new_territory') }}" class="btn btn-secondary my-2">New territory</a>

			<h2 id="injuries" class="my-3">Serious injuries Chart</h2>

			<table class="table table-bordered bg-white">
				<thead class="bg-secondary text-white">
					<tr>
						<td class="col-1">D66 roll</td>
						<td class="col-10">Description</td>
						<td class="col-1">Actions</td>
					</tr>
				</thead>

				<tbody>
					{% for injury in injuries %}
						<tr>
							{% if injury.mind66 == injury.maxd66 %}
								<td>{{ injury.mind66 }}</td>
							{% else %}
								<td>{{ injury.mind66 ~ ' - ' ~ injury.maxd66 }}</td>
							{% endif %}
							<td class="text-left">{{ injury.description }}</td>
							<td>
								<a href="{{ path('edit_injury', {injury_id : injury.id}) }}" class="btn btn-secondary mb-3">Edit</a>
								<form method="post" action='{{ path('delete_injury', {injury_id : injury.id}) }}' onsubmit="return confirm('Do you really want to delete this injury?')">
									<input type="hidden" name="_method" value="DELETE">
									<button class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('new_injury') }}" class="btn btn-secondary my-2">New injury</a>

			<h2 id="weapons" class="my-3">List of weapons</h2>

			<table class="table table-bordered bg-white">
				<thead class="bg-secondary text-white">
					<tr>
						<td class="col-1">Name</td>
						<td class="col-1">Category</td>
						<td class="col-1">Cost</td>
						<td class="col-1">Actions</td>
					</tr>
				</thead>

				<tbody>
					{% for weapon in weapons %}
						<tr>
							<td>{{ weapon.name }}</td>
							<td>{{ weapon.category }}</td>
							<td>{{ weapon.cost }}</td>
							<td>
								<a href="{{ path('edit_weapon', {weapon_id : weapon.id}) }}" class="btn btn-secondary mr-2">Edit</a>
								<form class="d-inline-block" method="post" action='{{ path('delete_weapon', {weapon_id : weapon.id}) }}' onsubmit="return confirm('Do you really want to delete this weapon?')">
									<input type="hidden" name="_method" value="DELETE">
									<button class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('new_weapon') }}" class="btn btn-secondary my-2">New weapon</a>

			<h2 id="skills" class="my-3">List of skills</h2>

			<table class="table table-bordered bg-white">
				<thead class="bg-secondary text-white">
					<tr>
						<td class="col-1">Name</td>
						<td class="col-2">Category</td>
						<td class="col-6">Description</td>
						<td class="col-1">Actions</td>
					</tr>
				</thead>

				<tbody>
					{% for skill in skills %}
						<tr>
							<td>{{ skill.name }}</td>
							<td>{{ skill.category }}</td>
							<td class="text-left">{{ skill.description }}</td>
							<td>
								<a href="{{ path('edit_skill', {skill_id : skill.id}) }}" class="btn btn-secondary mb-3">Edit</a>
								<form method="post" action='{{ path('delete_skill', {skill_id : skill.id}) }}' onsubmit="return confirm('Do you really want to delete this skill?')">
									<input type="hidden" name="_method" value="DELETE">
									<button class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('new_skill') }}" class="btn btn-secondary my-2">New skill</a>

		</div>
	</section>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="module" src="{{ asset('js/scroll.js') }}"></script>
{% endblock %}