{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}

	<section id="settings" class="mb-5">

		{% set previousPage = path('home') %}
		{% include 'back.html.twig' %}

		<div class="text-center text-white col-10 mx-auto">

			<nav class="nav navbar-light bg-secondary d-flex flex-column flex-sm-row justify-content-center mx-auto">
			  	<a class="nav-link text-white" href="#territories">Territories</a>
				<a class="nav-link text-white" href="#injuries">Injuries</a>
				<a class="nav-link text-white" href="#weapons">Weapons</a>
				<a class="nav-link text-white" href="#skills">Skills</a>
			</nav>

			<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}

			<h2 id="territories" class="my-3">List of territories</h2>

			<table class="table table-responsive">
				<thead class="bg-secondary text-white">
					<tr>
						<td class="col-1">Name</td>
						<td class="col-1">D66 roll</td>
						<td class="col-1">Income</td>
						<td class="col-9">Description</td>
						<td class="col-1">Actions</td>
					</tr>
				</thead>

				<tbody>
					{% for territory in territories %}
						<tr>
							<td data-label="Name">{{ territory.name }}</td>
							{% if territory.mind66 == territory.maxd66 %}
								<td data-label="D66 roll">{{ territory.mind66 }}</td>
							{% else %}
								<td data-label="D66 roll">{{ territory.mind66 ~ ' - ' ~ territory.maxd66 }}</td>
							{% endif %}
							<td data-label="Income">{{ territory.income }}</td>
							<td data-label="Description" class="text-left"><br class="d-md-none">{{ territory.description }}</td>
							<td data-label="Actions">
								<a href="{{ path('edit_territory', {territory_id : territory.id}) }}" class="btn btn-secondary mb-3">Edit</a>
								<form method="post" action='{{ path('delete_territory', {territory_id : territory.id}) }}' onsubmit="return confirm('Do you really want to delete this territory?')">
									<input type="hidden" name="_method" value="DELETE">
									<button class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('new_territory') }}" class="btn btn-secondary my-2">New territory</a>

			<h2 id="injuries" class="my-3">Serious injuries Chart</h2>

			<table class="table table-responsive">
				<thead class="bg-secondary text-white">
					<tr>
						<td class="col-1">D66 roll</td>
						<td class="col-10">Description</td>
						<td class="col-1">Actions</td>
					</tr>
				</thead>

				<tbody>
					{% for injury in injuries %}
						<tr>
							{% if injury.mind66 == injury.maxd66 %}
								<td data-label="D66 roll">{{ injury.mind66 }}</td>
							{% else %}
								<td data-label="D66 roll">{{ injury.mind66 ~ ' - ' ~ injury.maxd66 }}</td>
							{% endif %}
							<td data-label="Description" class="text-left"><br class="d-md-none">{{ injury.description }}</td>
							<td data-label="Actions">
								<a href="{{ path('edit_injury', {injury_id : injury.id}) }}" class="btn btn-secondary mb-3">Edit</a>
								<form method="post" action='{{ path('delete_injury', {injury_id : injury.id}) }}' onsubmit="return confirm('Do you really want to delete this injury?')">
									<input type="hidden" name="_method" value="DELETE">
									<button class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('new_injury') }}" class="btn btn-secondary my-2">New injury</a>

			<h2 id="weapons" class="my-3">List of weapons</h2>

			<table class="table table-responsive">
				<thead class="bg-secondary text-white">
					<tr>
						<td class="col-1">Name</td>
						<td class="col-1">Category</td>
						<td class="col-1">Cost</td>
						<td class="col-1">Actions</td>
					</tr>
				</thead>

				<tbody>
					{% for weapon in weapons %}
						<tr>
							<td data-label="Name">{{ weapon.name }}</td>
							<td data-label="Category">{{ weapon.category }}</td>
							<td data-label="Cost">{{ weapon.cost }}</td>
							<td data-label="Actions">
								<a href="{{ path('edit_weapon', {weapon_id : weapon.id}) }}" class="btn btn-secondary mb-3 mb-md-0 mr-0 mr-md-2">Edit</a>
								<form class="d-md-inline-block" method="post" action='{{ path('delete_weapon', {weapon_id : weapon.id}) }}' onsubmit="return confirm('Do you really want to delete this weapon?')">
									<input type="hidden" name="_method" value="DELETE">
									<button class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('new_weapon') }}" class="btn btn-secondary my-2">New weapon</a>

			<h2 id="skills" class="my-3">List of skills</h2>

			<table class="table table-responsive">
				<thead class="bg-secondary text-white">
					<tr>
						<td class="col-1">Name</td>
						<td class="col-2">Category</td>
						<td class="col-6">Description</td>
						<td class="col-1">Actions</td>
					</tr>
				</thead>

				<tbody>
					{% for skill in skills %}
						<tr>
							<td data-label="Name">{{ skill.name }}</td>
							<td data-label="Category">{{ skill.category }}</td>
							<td data-label="Description" class="text-left"><br class="d-md-none">{{ skill.description }}</td>
							<td data-label="Actions">
								<a href="{{ path('edit_skill', {skill_id : skill.id}) }}" class="btn btn-secondary mb-3">Edit</a>
								<form method="post" action='{{ path('delete_skill', {skill_id : skill.id}) }}' onsubmit="return confirm('Do you really want to delete this skill?')">
									<input type="hidden" name="_method" value="DELETE">
									<button class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('new_skill') }}" class="btn btn-secondary my-2">New skill</a>

		</div>
	</section>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="module" src="{{ asset('js/scroll.js') }}"></script>
{% endblock %}