{% extends 'base.html.twig' %}

{% block title %}New injury{% endblock %}

{% block body %}

	<section id="new_injury" class="mb-5">
		<div class="col-3 m-auto text-white">

			{{ form_start(form) }}

				<div>{{ form_row(form.d66) }}</div>
				<div>{{ form_row(form.description) }}</div>

				<button class="btn btn-primary offset-4">Add injury</button>
				<a href="{{ path('settings') }}" class="btn btn-secondary my-2">Back</a>

			{{ form_end(form) }}

		</div>
	</section>

{% endblock %}