{{ form_start(form) }}

	<div>{{ form_row(form.name) }}</div>
	<div>{{ form_row(form.cost) }}</div>
	<div>{{ form_row(form.category) }}</div>

	<button class="btn btn-primary btn-save">Add weapon</button>

{{ form_end(form) }}