{% extends 'base.html.twig' %}

{% block title %}Ganger image{% endblock %}

{% block body %}

	<section id="editGangerImage" class="mb-5">
		<div class="col-10 m-auto text-white">

			<div class="text-right">
				<a href="{{ path('edit_ganger', {'ganger_id' : ganger_id }) }}" class="btn btn-secondary my-2">Back</a>
			</div>

			<form method="POST">
	           <fieldset class="form">
                    {% for gangers_img in gangers_imgs %}
						<img
							src="{{ asset(gangers_img.path) }}"
							id="{{ gangers_img.id }}"
							class="gangers-profils {{ asset(gangers_img.path) == ganger_img ? 'selectedImg' : '' }}"
							alt="ganger image"/>
					{% endfor %}

        			<div class="text-center">
	 					<a	href="#"
	 						class="btn btn-secondary mb-3"
	 						id="editImage"
	 						data-url="{{ path('insert_new_image_in_db', {'ganger_id' : ganger_id }) }}"
	 					>Save image</a>
    	            </div>
    	        </fieldset>
    		</form>

		</div>
	</section>

{% endblock %}