{% extends 'base.html.twig' %}

{% block title %}Edit my ganger{% endblock %}

{% block body %}

	<section id="edit_gang" class="mb-5">

		{% set previousPage = path('show_gang', {gang_id : gang_id}) %}
		{% include 'back.html.twig' %}

		<div class="col-10 m-auto text-white">

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}

			{% for message in app.flashes('error') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}


			{{ form_start(form) }}

				<div class="row">
					<div class="col-12 col-sm-6 col-xl-8">{{ form_row(form.name) }}</div>
					<div class="col-12 col-sm-6 col-xl-4">{{ form_row(form.gangerType) }}</div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-6 col-xl-2">{{ form_row(form.move) }}</div>
					<div class="col-12 col-sm-6 col-xl-2">{{ form_row(form.weaponSkill) }}</div>
					<div class="col-12 col-sm-6 col-xl-2">{{ form_row(form.ballisticSkill) }}</div>
					<div class="col-12 col-sm-6 col-xl-2">{{ form_row(form.strength) }}</div>
					<div class="col-12 col-sm-6 col-xl-2">{{ form_row(form.toughness) }}</div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-6 col-xl-2">{{ form_row(form.wounds) }}</div>
					<div class="col-12 col-sm-6 col-xl-2">{{ form_row(form.initiative) }}</div>
					<div class="col-12 col-sm-6 col-xl-2">{{ form_row(form.attacks) }}</div>
					<div class="col-12 col-sm-6 col-xl-2">{{ form_row(form.leadership) }}</div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-6 col-xl-4">{{ form_row(form.cost) }}</div>
					<div class="col-12 col-sm-6 col-xl-4">{{ form_row(form.adv) }}</div>
					<div class="col-12 col-sm-6 col-xl-4">{{ form_row(form.xp) }}</div>
				</div>

				<div class="m-3">
					<a href="{{ path('edit_image', {ganger_id : ganger_id}) }}">
						<img src="{{ asset(gangerImg) }}" alt="ganger image"/>
					</a>
				</div>

				<button class="btn btn-primary">Save changes</button>

			{{ form_end(form) }}


			{% if weapons | length > 0 %}

				<h2 id="weapons" class="my-3">Ganger's weapons</h2>

				<table class="table table-responsive text-center">
					<thead class="bg-secondary text-white">
						<tr>
							<td class="col-1">Name</td>
							<td class="col-1">Category</td>
							<td class="col-1">Cost</td>
							<td class="col-1">Actions</td>
						</tr>
					</thead>

					<tbody>
						{% for weapon in weapons %}
							<tr>
								<td data-label="Name">{{ weapon.name }}</td>
								<td data-label="Category">{{ weapon.category }}</td>
								<td data-label="Cost">{{ weapon.cost }}</td>
								<td data-label="Actions">
									<form method="post" action='{{ path('remove_ganger_weapon', {weapon_id : weapon.id, ganger_id : ganger_id}) }}' onsubmit="return confirm('Do you really want to remove this weapon?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			{% endif %}

			<a href="{{ path('new_ganger_weapon', {ganger_id : ganger_id}) }}" class="btn btn-secondary my-2">New weapon</a>

			{% if skills | length > 0 %}

				<h2 id="skills" class="my-3">Ganger's skills</h2>

				<table class="table table-responsive text-center">
					<thead class="bg-secondary text-white">
						<tr>
							<td class="col-1">Name</td>
							<td class="col-2">Category</td>
							<td class="col-6">Description</td>
							<td class="col-1">Actions</td>
						</tr>
					</thead>

					<tbody>
						{% for skill in skills %}
							<tr>
								<td data-label="Name">{{ skill.name }}</td>
								<td data-label="Category">{{ skill.category }}</td>
								<td data-label="Description" class="text-left"><br class="d-md-none">{{ skill.description }}</td>
								<td data-label="Actions">
									<form method="post" action='{{ path('remove_ganger_skill', {skill_id : skill.id, ganger_id : ganger_id}) }}' onsubmit="return confirm('Do you really want to remove this skill?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			{% endif %}

			<a href="{{ path('new_ganger_skill', {ganger_id : ganger_id}) }}" class="btn btn-secondary my-2">New skill</a>
		</div>

	</section>

{% endblock %}