{% extends 'base.html.twig' %}

{% block title %}Gangs{% endblock %}

{% block body %}

	<section id="users" class="mb-5">

		{% set previousPage = path('home') %}
		{% include 'back.html.twig' %}

		<div class="row d-flex flex-wrap justify-content-center mx-5">
			{% for gang in gangs %}
					<div class="col-12 col-sm-6 col-md-4 col-xl-3 my-2 text-center">
						<div class="card mx-auto">
							<img class="card-img-top" src="{{ gang.image }}" alt="{{ gang.house }}">
							<div class="card-body p-2">
								<h5 class="card-title">{{ gang.pseudo | upper ~ '-' ~ gang.house }}</h5>
								<p class="card-text mb-1">{{ gang.gangName }}</p>
								<a href="{{ path('show_gang', {gang_id : gang.id}) }}" class="btn btn-primary">View gang</a>
								<p class="mt-2 mb-0">Created {{ gang.createdAt | ago }} </p>
							</div>
						</div>
					</div>
			{% endfor %}
		</div>

	</section>

{% endblock %}