{% extends 'base.html.twig' %}

{% block title %}Gangs{% endblock %}

{% block body %}

	<section id="gangs">
		<div class="text-center">
			<div class="col-10 mx-auto">
				<table class="table table-bordered bg-white">
					<thead class="bg-secondary text-white">
						<tr>
							<td colspan=2>House: {{ gangData.1.name | upper }}</td>
							<td>Gang name: {{ gangData.0.gangName | upper }}</td>
							<td>Stash: {{ gangData.0.credits }} credit</td>
							<td colspan=2>Gang rating: {{ gangData.0.gangRating }}</td>
							<td colspan=2 rowspan=2 class="align-middle">Edit</td>
						</tr>
						<tr>
							<td>Image</td>
							<td>Name</td>
							<td>Characteristics</td>
							<td>Equipment, skills & injuries</td>
							<td>Cost</td>
							<td>Exp.</td>
						</tr>
					</thead>

					<tbody>
						{% for gangerData in gangersData %}
							<tr>
								<td><img src="/{{ gangerData.image }}" alt="{{ gangerData.name }}"></td>
								<td class="align-middle">{{ gangerData.name | upper }}<br> {{ gangerData.typeId }}</td>
								<td class="d-flex flex-row">
									<table class="mx-auto">
										<tr>
											<td>M</td>
											<td>WS</td>
											<td>BS</td>
											<td>S</td>
											<td>T</td>
											<td>W</td>
											<td>I</td>
											<td>A</td>
											<td>Ld</td>
										</tr>
										<tr>
											<td>{{ gangerData.move }}</td>
											<td>{{ gangerData.weaponSkill }}</td>
											<td>{{ gangerData.ballisticSkill }}</td>
											<td>{{ gangerData.strength }}</td>
											<td>{{ gangerData.toughness }}</td>
											<td>{{ gangerData.wounds }}</td>
											<td>{{ gangerData.initiative }}</td>
											<td>{{ gangerData.attacks }}</td>
											<td>{{ gangerData.leadership }}</td>
										</tr>
									</table>
									<i class="fas fa-info-circle"></i>
								</td>
								<td class="text-left">Shotgun <i class="fas fa-info-circle"></i></td>
								<td class="align-middle">{{ gangerData.cost }}</td>
								<td class="align-middle">{{ gangerData.xp }}</td>
								<td>
									<a href="{{ path('edit_my_ganger', {ganger_id : gangerData.id})}}" class="btn btn-secondary mb-4">Edit</a>
									<a href="#" class="btn btn-danger mb-4">Delete</a>
								</td>
							</tr>
						{% endfor %}

						<tr>
							<td colspan=4 class="text-right">TOTALS:</td>
							<td>995</td>
							<td>352</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-10 mx-auto">
				<table class="table table-bordered bg-white">
					<thead class="bg-secondary text-white">
						<tr>
							<td>Territory</td>
							<td>Credits</td>
							<td>Territory</td>
							<td>Credits</td>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="text-left">1. Slag <i class="fas fa-info-circle"></i></td>
							<td>15</td>
							<td class="text-left">6.  <i class="fas fa-info-circle"></i></td>
							<td></td>
						</tr>
						<tr>
							<td class="text-left">2. Drinking hole <i class="fas fa-info-circle"></i></td>
							<td>D6x10</td>
							<td class="text-left">7.  <i class="fas fa-info-circle"></i></td>
							<td></td>
						</tr>
						<tr>
							<td class="text-left">3. Mineral <i class="fas fa-info-circle"></i></td>
							<td>D6x10</td>
							<td class="text-left">8.  <i class="fas fa-info-circle"></i></td>
							<td></td>
						</tr>
						<tr>
							<td class="text-left">4. Vents <i class="fas fa-info-circle"></i></td>
							<td>10</td>
							<td class="text-left">9.  <i class="fas fa-info-circle"></i></td>
							<td></td>
						</tr>
						<tr>
							<td class="text-left">5. Friendly doc <i class="fas fa-info-circle"></i></td>
							<td>D6x10</td>
							<td class="text-left">10.  <i class="fas fa-info-circle"></i></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>

{% endblock %}