{% extends 'base.html.twig' %}

{% block title %}Edit my gang{% endblock %}

{% block body %}

	<section id="gangs" class="mb-5">
		<div class="text-center mx-5">
			<div class="text-right">
				<a href="{{ path('gangs') }}" class="btn btn-secondary my-2">Back</a>
			</div>

			<div class="col-10 mx-auto">

				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}

				{% for message in app.flashes('error') %}
					<div class="alert alert-danger">
						{{ message }}
					</div>
				{% endfor %}

				<table class="table table-bordered bg-white">
					<thead class="bg-secondary text-white">
						<tr>
							<td colspan=2 class="align-middle">House: {{ gang_data.0.house | upper }}</td>
							<td colspan=2 class="align-middle">Gang name: {{ gang_data.0.gangName | upper }}</td>
							<td colspan=3>
								Gang stash: {{ gang_data.0.credits }} credits<br>
								Gang rating: {{ gang_rating }}
							</td>
						</tr>
						<tr>
							<td>Image</td>
							<td>Name</td>
							<td>
								Characteristics
								<i class="fas fa-info-circle" title=" M => Move &#013 WS => Weapon skill &#013 BS => Ballistic skill &#013 S => Strength &#013 T => Toughness &#013 W => Wounds &#013 I => Initiative &#013 A => Attacks &#013 Ld => Leadership"></i>
							</td>
							<td>Weapons, skills & injuries</td>
							<td>Cost</td>
							<td>Exp.</td>
							<td>Edit</td>
						</tr>
					</thead>

					<tbody>
						{% for ganger_data in gangers_data %}
							<tr>
								<td><img src="/{{ ganger_data.image }}" alt="{{ ganger_data.name }}"></td>
								<td class="align-middle">{{ ganger_data.name | upper }}<br>{{ ganger_data.gangerType.name }}</td>
								<td class="d-flex flex-row">
									<table class="mx-auto">
										<tr>
											<td>M</td>
											<td>WS</td>
											<td>BS</td>
											<td>S</td>
											<td>T</td>
											<td>W</td>
											<td>I</td>
											<td>A</td>
											<td>Ld</td>
										</tr>
										<tr>
											<td>{{ ganger_data.move }}</td>
											<td>{{ ganger_data.weaponSkill }}</td>
											<td>{{ ganger_data.ballisticSkill }}</td>
											<td>{{ ganger_data.strength }}</td>
											<td>{{ ganger_data.toughness }}</td>
											<td>{{ ganger_data.wounds }}</td>
											<td>{{ ganger_data.initiative }}</td>
											<td>{{ ganger_data.attacks }}</td>
											<td>{{ ganger_data.leadership }}</td>
										</tr>
									</table>
								</td>
								<td class="text-left">
									{% for weapon in ganger_data.weapons %}
										<p>{{ weapon.name }}</p>
									{% endfor %}
									{% for skill in ganger_data.skills %}
										<p>{{ skill.name }} <i class="fas fa-info-circle" title="{{ skill.description }}"></i></p>
									{% endfor %}
									{% for injury in ganger_data.injuries %}
										<p>{{ injury.name }} <i class="fas fa-info-circle" title="{{ injury.description }}"></i></p>
									{% endfor %}
								</td>
								<td class="align-middle">{{ ganger_data.cost }}</td>
								<td class="align-middle">{{ ganger_data.xp }}</td>
								<td class="align-middle">
									<a href="{{ path('edit_ganger', {ganger_id : ganger_data.id}) }}" class="btn btn-secondary mb-3">Edit</a>
									<form method="post" action='{{ path('delete_ganger', {ganger_id : ganger_data.id}) }}' onsubmit="return confirm('Do you really want to fire your ganger?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger">Delete</button>
									</form>
								</td>
							</tr>
						{% endfor %}

						<tr>
							<td colspan=4 class="text-right">TOTALS:</td>
							<td>{{ total_cost }}</td>
							<td>{{ total_exp }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row d-flex justify-content-around mx-5">
				<table class="table table-bordered bg-white col-6">
					<thead class="bg-secondary text-white">
						<tr>
							<td>Territory</td>
							<td>Credits</td>
							<td>Edit</td>
							<td>Territory</td>
							<td>Credits</td>
							<td>Edit</td>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="text-left">
								1. {% if gang_territories.0.name is defined %}{{gang_territories.0.name}}{% endif %}
							</td>
							<td>
								{% if gang_territories.0.income is defined %}{{gang_territories.0.income}}{% endif %}
							</td>
							<td>
								{% if gang_territories.0 is defined %}
									<form method="post" action='{{ path('remove_gang_territory', {gang_id : gang_data.0.id, territory_id : gang_territories.0.id}) }}' onsubmit="return confirm('Do you really want to remove this territory?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
									</form>
								{% endif %}
							</td>
							<td class="text-left">
								6. {% if gang_territories.5.name is defined %}{{gang_territories.5.name}}{% endif %}
							</td>
							<td>
								{% if gang_territories.5.income is defined %}{{gang_territories.5.income}}{% endif %}
							</td>
							<td>
								{% if gang_territories.5 is defined %}
									<form method="post" action='{{ path('remove_gang_territory', {gang_id : gang_data.0.id, territory_id : gang_territories.5.id}) }}' onsubmit="return confirm('Do you really want to remove this territory?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
									</form>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td class="text-left">
								2. {% if gang_territories.1.name is defined %}{{gang_territories.1.name}}{% endif %}
							</td>
							<td>
								{% if gang_territories.1.income is defined %}{{gang_territories.1.income}}{% endif %}</td>
							<td>
								{% if gang_territories.1 is defined %}
									<form method="post" action='{{ path('remove_gang_territory', {gang_id : gang_data.0.id, territory_id : gang_territories.1.id}) }}' onsubmit="return confirm('Do you really want to remove this territory?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
									</form>
								{% endif %}
							</td>
							<td class="text-left">
								7. {% if gang_territories.6.name is defined %}{{gang_territories.6.name}}{% endif %}
							</td>
							<td>
								{% if gang_territories.6.income is defined %}{{gang_territories.6.income}}{% endif %}
							</td>
							<td>
								{% if gang_territories.6 is defined %}
									<form method="post" action='{{ path('remove_gang_territory', {gang_id : gang_data.0.id, territory_id : gang_territories.6.id}) }}' onsubmit="return confirm('Do you really want to remove this territory?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
									</form>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td class="text-left">
								3. {% if gang_territories.2.name is defined %}{{gang_territories.2.name}}{% endif %}
							<td>
								{% if gang_territories.2.income is defined %}{{gang_territories.2.income}}{% endif %}
							</td>
							<td>
								{% if gang_territories.2 is defined %}
									<form method="post" action='{{ path('remove_gang_territory', {gang_id : gang_data.0.id, territory_id : gang_territories.2.id}) }}' onsubmit="return confirm('Do you really want to remove this territory?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
									</form>
								{% endif %}
							</td>
							<td class="text-left">
								8. {% if gang_territories.7.name is defined %}{{gang_territories.7.name}}{% endif %}
							</td>
							<td>
								{% if gang_territories.7.income is defined %}{{gang_territories.7.income }}{% endif %}
							</td>
							<td>
								{% if gang_territories.7 is defined %}
									<form method="post" action='{{ path('remove_gang_territory', {gang_id : gang_data.0.id, territory_id : gang_territories.7.id}) }}' onsubmit="return confirm('Do you really want to remove this territory?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
									</form>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td class="text-left">
								4. {% if gang_territories.3.name is defined %}{{gang_territories.3.name}}{% endif %}
							</td>
							<td>
								{% if gang_territories.3.income is defined %}{{gang_territories.3.income}}{% endif %}
							</td>
							<td>
								{% if gang_territories.3 is defined %}
									<form method="post" action='{{ path('remove_gang_territory', {gang_id : gang_data.0.id, territory_id : gang_territories.3.id}) }}' onsubmit="return confirm('Do you really want to remove this territory?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
									</form>
								{% endif %}
							</td>
							<td class="text-left">
								9. {% if gang_territories.8.name is defined %}{{gang_territories.8.name}}{% endif %}
							</td>
							<td>
								{% if gang_territories.8.income is defined %}{{gang_territories.8.income }}{% endif %}
							</td>
							<td>
								{% if gang_territories.8 is defined %}
									<form method="post" action='{{ path('remove_gang_territory', {gang_id : gang_data.0.id, territory_id : gang_territories.8.id}) }}' onsubmit="return confirm('Do you really want to remove this territory?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
									</form>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td class="text-left">
								5. {% if gang_territories.4.income is defined %}{{gang_territories.4.income }}{% endif %}
							</td>
							<td>
								{% if gang_territories.4.income is defined %}{{gang_territories.4.income }}{% endif %}
							</td>
							<td>
								{% if gang_territories.4 is defined %}
								<form method="post" action='{{ path('remove_gang_territory', {gang_id : gang_data.0.id, territory_id : gang_territories.4.id}) }}' onsubmit="return confirm('Do you really want to remove this territory?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
									</form>
								{% endif %}
							</td>
							<td class="text-left">
								10. {% if gang_territories.9.income is defined %}{{gang_territories.9.income }}{% endif %}
							</td>
							<td>
								{% if gang_territories.9.income is defined %}{{gang_territories.9.income }}{% endif %}
							</td>
							<td>
								{% if gang_territories.9.income is defined %}
									<form method="post" action='{{ path('remove_gang_territory', {gang_id : gang_data.0.id, territory_id : gang_territories.9.id}) }}' onsubmit="return confirm('Do you really want to remove this territory?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
									</form>
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>

				<table class="col-2 d-flex flex-column text-right">
					<tr>
						<td class="align-middle">
							<a href="{{ path('new_ganger', {gang_id : gang_data.0.id}) }}" class="btn btn-secondary my-2">New ganger</a>
							{% if gang_territories|length <= 10 %}<a href="{{ path('new_gang_territory', {gang_id : gang_data.0.id}) }}" class="btn btn-secondary my-2">New territory</a>{% endif %}
							<form class="my-2" method="post" action='{{ path('delete_gang', {gang_id : gang_data.0.id}) }}' onsubmit="return confirm('Do you really want to delete your gang?')">
									<input type="hidden" name="_method" value="DELETE">
									<button class="btn btn-danger">Delete gang</button>
							</form>
						</td>
					</tr>
				</table>

			</div>
		</div>
	</section>

{% endblock %}