{% set count = 0 %}

{% extends 'base.html.twig' %}

{% block title %}Edit my gang{% endblock %}

{% block body %}

	<section id="gangs" class="mb-5">

		{% set previousPage = path('gangs') %}
		{% include 'back.html.twig' %}

		<div class="text-center mx-sm-5">
			<div class="text-center text-white col-12 col-xl-10 mx-auto">

				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}

				{% for message in app.flashes('error') %}
					<div class="alert alert-danger">
						{{ message }}
					</div>
				{% endfor %}

				{% include 'gangs/gangTable.html.twig' %}
			</div>

			<div class="col-12 col-xl-10 mx-auto">
				<div class="row d-flex justify-content-around mx-lg-5">
					<table class="table table-responsive col-md-6" id="territories">
						<thead class="bg-secondary text-white">
							<tr>
								<td>Territory</td>
								<td>Credits</td>
								<td>Edit</td>
							</tr>
						</thead>

						<tbody>
							{% for territory in territories %}
								{% set count = count + 1 %}
								<tr>
									<td data-label="Name" class="text-md-left">
										{{ count ~ '. ' ~ territory.name }}
									</td>
									<td data-label="Income">
										{{ territory.income }}
									</td>
									<td data-label="Edit">
										<form method="post" action='{{ path('remove_gang_territory', {gang_id : gang_data.0.id, territory_id : territory.id}) }}' onsubmit="return confirm('Do you really want to remove this territory?')">
												<input type="hidden" name="_method" value="DELETE">
												<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<table class="d-flex flex-column text-right col-md-6 w-auto" id="actions">
						<tr>
							<td>
	 							<a href="{{ path('new_ganger', {gang_id : gang_data.0.id}) }}" class="btn btn-secondary my-2">New ganger</a>
								{% if total_territories <= 10 %}
									<a href="{{ path('new_gang_territory', {gang_id : gang_data.0.id}) }}" class="btn btn-secondary my-2">New territory</a>
								{% endif %}
								<form class="my-2" method="post" action='{{ path('delete_gang', {gang_id : gang_data.0.id}) }}' onsubmit="return confirm('Do you really want to delete your gang?')">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-danger">Delete gang</button>
								</form>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</section>

{% endblock %}