{% extends 'base.html.twig' %}

{% block title %}Gangs{% endblock %}

{% block body %}

	<section id="newGanger" class="mb-5">

		{% set previousPage = path('show_gang', {'gang_id' : gangId}) %}
		{% include 'back.html.twig' %}

		<div class="col-sm-8 offset-lg-4 col-lg-4 m-auto text-white">

			{% for message in app.flashes('error') %}
				<div class="alert alert-danger col-4 offset-4">
					{{ message }}
				</div>
			{% endfor %}

			{{ form_start(form) }}

				{{ form_row(form.name) }}
				{{ form_row(form.gangerType) }}

				<button class="btn btn-primary offset-4">Hire ganger</button>

			{{ form_end(form) }}
		</div>
	</section>

{% endblock %}