{% extends 'base.html.twig' %}

{% block title %}Gangs{% endblock %}

{% block body %}

	<section id="newGanger" class="mb-5">
		<div class="col-10 m-auto text-white">

			<div class="text-right">
				<a href="{{ path('show_gang', {'gang_id' : gangId}) }}" class="btn btn-secondary my-2">Back</a>
			</div>

			{% for message in app.flashes('error') %}
				<div class="alert alert-danger col-4 offset-4">
					{{ message }}
				</div>
			{% endfor %}

			{{ form_start(form) }}

				<div class="col-4 offset-4">
					{{ form_row(form.name) }}
					{{ form_row(form.gangerType) }}
				</div>

				<div class="text-center">

					<h3>Select the profil of your ganger</h3>

					<div class="row d-flex flex-wrap justify-content-around">
						{% for image in images %}
							<div class="ganger_img d-flex align-items-center justify-content-center my-2">
								<img src="/{{ image.path }}" alt="ganger profile" class="img-fluid gangers-profils" id="{{ image.id }}" data-id="{{ image.id }}">
							</div>
						{% endfor %}
					</div>

					<button class="btn btn-primary">Hire ganger</button>

				</div>

			{{ form_end(form) }}
		</div>
	</section>

{% endblock %}