{% extends 'base.html.twig' %}

{% block title %}Add a territory{% endblock %}

{% block body %}

	<section id="admin" class="mb-5">
		<div class="text-center text-white col-10 mx-auto">
			<div class="text-right">
				<a href="{{ path('show_gang', {'gang_id' : gang_id}) }}" class="btn btn-secondary my-2">Back</a>
			</div>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}

			<table class="table table-bordered bg-white">
				<thead class="bg-secondary text-white">
					<tr>
						<td class="col-1">Name</td>
						<td class="col-1">D66 roll</td>
						<td class="col-1">Income</td>
						<td class="col-9">Description</td>
						<td class="col-1">Actions</td>
					</tr>
				</thead>

				<tbody>
					{% for territory in territories %}
						<tr>
							<td>{{ territory.name }}</td>
							{% if territory.mind66 == territory.maxd66 %}
								<td>{{ territory.mind66 }}</td>
							{% else %}
								<td>{{ territory.mind66 ~ ' - ' ~ territory.maxd66 }}</td>
							{% endif %}
							<td>{{ territory.income }}</td>
							<td class="text-left">{{ territory.description }}</td>
							<td><a href="{{ path('insert_new_territory_in_db', {'gang_id' : gang_id, 'territory_id' : territory.id }) }}" class="btn btn-secondary mb-3">Add</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

{% endblock %}