{% extends 'base.html.twig' %}

{% block title %}Battle{% endblock %}

{% block body %}

	<section id="battle1" class="mb-5">

		{% set previousPage = path('home') %}
		{% include 'back.html.twig' %}

		{# {% set selectedGangs = [] %} #}

		<div class="row d-flex flex-wrap justify-content-center mx-5">
			{% for gang in gangs %}
				<div class="col-12 col-sm-6 col-md-4 col-xl-3 my-2 text-center">
					<div class="card mx-auto">
						<img class="card-img-top" src="{{ gang.image }}" alt="{{ gang.house }}">
						<div class="card-body p-2">
							<h5 class="card-title">{{ gang.pseudo | upper ~ '-' ~ gang.house }}</h5>
							<p class="card-text mb-1">{{ gang.gangName }}</p>
							<button class="btn btn-primary js-choose-gang" data-gangId = "{{ gang.id }}">Choose this gang</button>
							{# {% if %} #}
								{# {% set selectedGangs = selectedGangs | merge([gang]) %} #}
							{# {% endif %} #}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="text-center text-white col-10 mx-auto">
			{# <a href="#" data-url="{{ path('battle2', {'selectedGangs' : selectedGangs }) }}" class="btn btn-secondary my-2 d-none js-start">Start the battle</a> #}
			<a href="#" data-url="{{ path('battle2') }}" class="btn btn-secondary my-2 d-none js-start">Start the battle</a>
		</div>
	</section>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="module" src="{{ asset('js/battle.js') }}"></script>
{% endblock %}