{% extends 'base.html.twig' %}

{% block title %}Houses{% endblock %}

{% block body %}

	<section id="houses" class="mb-5">
		<div class="text-center text-white">

			<div class=" col-10 text-right">
				<a href="{{ path('home') }}" class="btn btn-secondary my-2">Back</a>
			</div>

			{% for house in houses %}

				<div class="col-6 mx-auto my-4 d-flex flex-row">
					<div class="bg-white col-2 rounded d-flex align-items-center">
						<img src="{{ house.image }}" alt="{{ house.name }}" class="">
					</div>
					<div class="ml-4 w-100 col-10">
						<h5>{{ house.name }}</h5>
						<p class="text-left">{{ house.description }}</p>
					</div>
				</div>

			{% endfor %}

		</div>
	</section>

{% endblock %}